html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,
border: 0;
font:inherit;
font-size:100%
margin:0;
vertical-align:base-line;
}

body {
font-family: 'Helvetica' sans-serif;
font-color: #31393C;
font-size: 16px;
text alignment: center;
width:90%;
max-width: 750px;
background-color:#FFF;

}

sectionContent {
border: solid;
border-width: 4px;
padding: 20px;
